@use "sass:map";

$fHeadlines: (
  2: 24px 500,
);
@mixin fHeadline($num) {
  $item: map.get($fHeadlines, $num);
  $fontSize: nth($item, 1);
  $fontWeight: nth($item, 2);

  font-weight: $fontWeight;
  font-size: $fontSize;
}

$fonts: (
  12: 12px,
  14: 14px,
  16: 16px,
  20: 20px,
  24: 24px,
  30: 30px,
);
@mixin fAny($num, $fontWeight) {
  $item: map.get($fonts, $num);
  $fontSize: nth($item, 1);

  font-size: $fontSize;
  font-weight: $fontWeight;
}

@mixin fRegular($num) {
  @include fAny($num, 300);
}
@mixin fMedium($num) {
  @include fAny($num, 500);
}
@mixin fBold($num) {
  @include fAny($num, 700);
}
