@mixin scrollbar() {
  &::-webkit-scrollbar {
    height: 2px;
    width: 7px;
    background-color: var(--grey-stroke);
  }
  &::-webkit-scrollbar-thumb {
    background-color: var(--yellow);
    width: 2px;
    height: 2px;
  }
}
