// Inter
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 100 900;
  font-stretch: 25% 100%;
  font-display: swap;
  src:
    url('assets/fonts/Inter/Inter-BasicLatin.woff2') format('woff2-variations'),
    url('assets/fonts/Inter/Inter-BasicLatin.woff') format('woff-variations'),
    url('assets/fonts/Inter/Inter-BasicLatin.ttf') format('truetype-variations');
  unicode-range: U+0000-007F;
}

@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 100 900;
  font-stretch: 25% 100%;
  font-display: swap;
  src:
    url('assets/fonts/Inter/Inter-cyrillic.woff2') format('woff2-variations'),
    url('assets/fonts/Inter/Inter-cyrillic.woff') format('woff-variations'),
    url('assets/fonts/Inter/Inter-cyrillic.ttf') format('truetype-variations');
  unicode-range: U+0401-0451;
}

@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 100 900;
  font-stretch: 25% 100%;
  font-display: swap;
  src:
    url('assets/fonts/Inter/Inter-ExtendedLatin.woff2') format('woff2-variations'),
    url('assets/fonts/Inter/Inter-ExtendedLatin.woff') format('woff-variations'),
    url('assets/fonts/Inter/Inter-ExtendedLatin.ttf') format('truetype-variations');
  unicode-range: U+0C00-02B9;
}

// Inter Fallback: Helvetica 400
@font-face {
  font-family: 'Inter Fallback: Helvetica';
  src: local('Helvetica');
  ascent-override: 93%;
  descent-override: 30%;
  size-adjust: 105.5%;
}

// Inter Fallback: Arial 400
@font-face {
  font-family: 'Inter Fallback: Arial';
  src: local('Arial'), local('ArialMT');
  ascent-override: 93%;
  descent-override: 30%;
  size-adjust: 105.7%;
}
